name: CI

on: [push, pull_request]

jobs:
  rspec:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ['3.0', '2.7', '2.6', '2.5', '2.4']
        use_rubyzip_3: ['yes', 'no']

    env:
      USE_RUBYZIP_3: ${{ matrix.use_rubyzip_3 }}

    steps:
      - name: Checkout spreadbase repository
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run RSpec
        run: |
          bundle exec rake spec
